/* 
  DEBUG CSS
  * {
  outline: 1px solid #f00 !important;
  } 
*/
* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans', sans-serifb;
}

html,
body {
  height: 100%;
  font-family: sans-serif;
  color: #000;
  display: flex;
  width: 100%;
  flex-direction: column;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: #0099B0;
}

a:hover {
  color: #0099B0;
}

a.anchor {
  position: relative;
  top: -120px;
}

.cover {
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.hero-text-container {
  margin: 10%;
}

#hero-subtitle {
  margin-top: 1em;
}

.selected {
  font-weight: bold;
}

section {
  margin: 1em 0;
}

section.description {
  display: flex;
}

.section-title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2.4em;
  /*text-decoration: underline;*/
}

.section-desc {
  font-size: 1.1em;
}

.intro {
  text-align: center;
  top: 0;
}

.intro-bg {
  background: url(../images/BricolabsWide-1200.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  position: absolute;
}

#main-menu a:hover {
  text-decoration: underline;
}

.menu {
  float: right;
}

#logo {
  position: relative;
  width: auto;
  height: 70%;
  max-height: 396px;
}

.logo-mini {
  display: none;
  margin: 3px 0px;
}

.desc-image {
  width: 90%;
  display: block;
  margin: 2em;

}

.desc-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.1em;
}

#video-bricolabs {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.video {
  position: relative;
}

.table {
  display: table;
}

.content {
  background-color: #fff;
  width: 100%;
  position: relative;
  z-index: 100;
}

.proto-bg {
  position: relative;
  background-attachment: fixed !important;
}

.proto {
  width: 100%;
  overflow: hidden;
}

.img-container {
  margin: 20px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
  background-color: #000;
  border-radius: 30px;
}

.img-container img {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}

.projects .wrapper,
.media .wrapper {
  text-align: center;
}

.wrapper {
  max-width: 1270px;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.show-menu {
  display: none;
  float: right;
  width: 40px;
  height: 40px;
  margin: 15px 0px;
  background: url(../images/menu.png) no-repeat center center;
  cursor: pointer;
}

.close-menu {
  background: url(../images/close.png) no-repeat center center !important;
  cursor: pointer;
}

.shadow {
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1000;
  background-color: #000;
  top: 0;
}

.image-fullscreen img {
  margin-top: 100px;
  max-width: 90%;
  max-height: 90%;
}

.close-image {
  float: right;
  margin: 20px;
  background: url(../images/close-white.png) no-repeat center center;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

footer {
  height: 80px;
  width: 100%;
  background-color: #000;
  text-align: center;
  padding-top: 30px;
}

footer img {
  width: 35px;
  padding: 5px;
  display: inline;
}

@media screen and (max-width: 900px) {
  .desc-image {
    width: 100%;
    display: block;
    margin-bottom: 40px;
  }

  .twitter,
  .facebook,
  .desc-text,
  .menu-bg,
  .logo-mini {
    display: inline;
  }

  .show-menu {
    display: inline;
  }

  #video-bricolabs {
    display: none;
  }

  .menu {
    display: none;
    position: fixed;
    top: 70px;
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
    color: #000;
  }

  .menu li {
    margin: 1.5em 0;
    display: block;
    line-height: 1em;
  }
}

@media screen and (max-width: 400px) {
  .img-container {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .intro-bg {
    background: url(../images/BricolabsWide-320.jpg) no-repeat center center;
    background-size: cover;
  }

  .proto {
    height: 240px;
  }

  .video {
    background: url(../images/bricolabs-taller-320.jpg) no-repeat center center;
    height: 138px;
  }

  .proto-bg {
    background: url(../images/bricolabs-proto-320.jpg) no-repeat center bottom;
    background-attachment: scroll !important;
    height: 240px;
  }
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .intro-bg {
    background: url(../images/BricolabsWide-768.jpg) no-repeat center center;
  }

  .cover {
    flex-direction: column-reverse;
  }

  #hero-logo {
    max-width: 60%;
  }

}

@media screen and (max-width: 1024px) and (min-width: 769px) {}

@media screen and (max-width: 1200px) and (min-width: 1025px) {
 
}

@media screen and (min-width: 1201px) {
  
}